.container_authentification {
    height: 100vh;
    display: flex;
}


.container_right {
    background-color: rgb(231, 229, 229);
}

.container_left {
    height: 100vh;
    width: 50%;
    background-color: rgb(231, 229, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container_form {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.container_input_email,
.container_input_password {
    display: flex;
    flex-direction: column;
}

.container_checkbox {
    display: flex;
    gap: 5px;
}

.container_right {
    height: 100vh;
    width: 50%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_style {
    background-color: black;
    width: 80vh;
    height: 90vh;
    border-radius: 10px;
}

input[type="email"] {
    width: 250px;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

input[type="password"] {
    width: 250px;
    height: 30px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: black;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}



a {
    text-decoration: none;
    color: rgb(69, 69, 70)
}

.paragraphe {
    color: rgb(165, 166, 168);
}

.container_social {
    display: flex;
    gap:20px;
}

.social_item {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.social_item img {
    height:30px;
}