.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container_services{
    height:100vh;
    padding: 0 30vh 0 30vh;
    flex: 1;
    
}

h1{
    margin-top:20px;
    margin-bottom:50px;
}

.footer {
    margin-top: 20px;
}