<div class="layout">
    <app-navbar></app-navbar>
    <div class="container_about">
        <div class="container_about_left">
            <img src="assets/img/test.jfif" alt="" class="img_about">
        </div>
        <div class="container_about_right">
            <div class="container_text_about">
                <h2>À propos de nous</h2>
                <p>
                    Bienvenue chez Salon Élégance, un espace dédié à la beauté, au style et à la confiance en soi.

                    Depuis notre création, nous avons à cœur d’offrir bien plus qu’une simple coupe de cheveux. Notre
                    mission est d’apporter à chaque client une expérience personnalisée, moderne et agréable, dans une
                    ambiance chaleureuse et professionnelle.

                    Nous mettons notre expertise au service de votre style, que ce soit pour une coupe tendance, une
                    coloration sur mesure ou un entretien régulier. Chaque détail compte, et votre satisfaction est
                    notre
                    priorité.
                </p>
            </div>

            <div class="container_text_vision">
                <h2>Notre vision</h2>
                <p>
                    Nous croyons que la coiffure est un art qui révèle la personnalité.
                    C’est pourquoi nous combinons savoir-faire, écoute et innovation pour vous proposer des prestations
                    adaptées à vos envies et à votre style de vie.

                    Grâce à notre système de réservation en ligne, nous simplifions votre expérience :
                <ul>
                    <li>Prenez rendez-vous en quelques clics</li>
                    <li>Gagnez du temps</li>
                    <li>Communiquez facilement avec votre coiffeur</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>