.container_register{
    height:100vh;
    display: flex;
}

.container_left{
     background-color: rgb(231, 229, 229);
     height:100vh;
     width:50%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.container_form{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.container_input{
    display: flex;
    flex-direction: column;
}
.container_input input{
    height:30px;
    width:250px;
    border:none;
    border-radius:5px;
    margin-top:5px;
}

.container_right{
     background-color: rgb(231, 229, 229);
     height:100vh;
     width:50%;
     display: flex;
     justify-content: center;
     align-items: center;
}

button{
    background-color: black;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    color: white;
}