.container_home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_picture_description {
    /* background-color: red; */
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
}

.container_picture {
    background-image: url("/assets/img/photo_home.jpg");
    height: 100%;
    width: 70vh;
    background-size: 70vh;
    background-repeat: no-repeat;
    border-radius: 30px 0 30px 0;
}

h1{
      font-size:50px;
      margin-bottom:30px;
}

p{
    margin-bottom:20px;
}

.dev{
    margin-left:50px;
    width:85vh;
}
