<div class="layout">
    <app-navbar></app-navbar>
    <div class="container_home">
        <div class="container_picture_description">
            <div class="container_desc">
                <div class="dev">
                    <h1>Libérer votre style avec nos experts</h1>
                    <p>Offrez-vous un moment de confiance et de style.
                        Notre équipe de professionnels met son expertise au service de votre image pour sublimer votre
                        chevelure, avec des techniques modernes et des produits de qualité.</p>
                    <app-button label="Services" type="button" variant="secondary"></app-button>
                </div>
            </div>
            <div class="container_picture">
            </div>
        </div>
    </div>
</div>
    <app-footer></app-footer>