<cdk-accordion class="example-accordion" [multi]="true">

  <!-- PLANIFIER -->
  <cdk-accordion-item #addItem="cdkAccordionItem" class="example-accordion-item">
    <button class="example-accordion-item-header" (click)="addItem.toggle()">
      📅 Planifier un rendez-vous
      <span>{{ addItem.expanded ? '↓' : '↑' }}</span>
    </button>

    <div *ngIf="addItem.expanded" class="example-accordion-item-body">
      <form (ngSubmit)="onCreateAppointment()" #f="ngForm">
        <!-- <input type="datetime-local" name="startAt" [(ngModel)]="form.startAt" required /> -->
        <app-date-picker (selectedDate)="onDateSelected($event)"></app-date-picker>


        <app-select [hairdresserId]="form.hairdresserId"
          (hairdresserIdChange)="form.hairdresserId = $event"></app-select>


        <label>Note</label>
        <app-texterea [value]="form.note" (valueChange)="form.note = $event">
        </app-texterea>


        <app-button label="Panifier le rendez-vous" type="submit" [disabled]="!!f.invalid"></app-button>
        <!-- <button type="submit" class="action" [disabled]="f.invalid">Créer le rendez-vous</button> -->
        <app-alert *ngIf="createAppointmentAlert" [type]="createAppointmentAlert.type"
          [message]="createAppointmentAlert.message" class="alert">
        </app-alert>
      </form>
    </div>
  </cdk-accordion-item>

  <!-- ANNULER : UN SEUL ACCORDÉON -->
  <cdk-accordion-item #cancelItem1="cdkAccordionItem" class="example-accordion-item">
    <button class="example-accordion-item-header" (click)="cancelItem1.toggle()">
      🗑️ Annuler un rendez-vous
      <span>{{ cancelItem1.expanded ? '↓' : '↑' }}</span>
    </button>

    <div *ngIf="cancelItem1.expanded" class="example-accordion-item-body">

      <div *ngIf="appointments.length === 0">
        Aucun rendez-vous.
      </div>

      <div *ngFor="let rdv of appointments; trackBy: trackByRdv" class="rdv-row">
        <div>
          <p><b>Date du rendez-vous :</b> {{ rdv.startAt| date:'dd/MM/yyyy HH:mm' }}</p>

          <p><b>Description :</b> {{ rdv.note }}</p>
        </div>

        <app-button label="Supprimer" type="submit" variant="delete"
          (click)="onDeleteAppointment(rdv.appointmentId)"></app-button>

        <hr />

      </div>
      <app-alert *ngIf="deleteAppointmentAlert" [type]="deleteAppointmentAlert.type"
        [message]="deleteAppointmentAlert.message">
      </app-alert>

    </div>
  </cdk-accordion-item>

  <!-- ANNULER : UN SEUL ACCORDÉON -->
  <cdk-accordion-item #cancelItem2="cdkAccordionItem" class="example-accordion-item">
    <button class="example-accordion-item-header" (click)="cancelItem2.toggle()">
      🗑️ Information sur les coiffeurs
      <span>{{ cancelItem2.expanded ? '↓' : '↑' }}</span>
    </button>

    <div *ngIf="cancelItem2.expanded" class="example-accordion-item-body">

      <app-select [hairdresserId]="form.hairdresserId" (hairdresserIdChange)="form.hairdresserId = $event"></app-select>

      <app-hairdresser-profil-page *ngIf="form.hairdresserId !== null"
        [hairDresserId]="form.hairdresserId"></app-hairdresser-profil-page>

      <!-- <div *ngFor="let rdv of appointments; trackBy: trackByRdv" class="rdv-row">
        <div>
          <p><b>Date du rendez-vous :</b> {{ rdv.startAt| date:'dd/MM/yyyy HH:mm' }}</p>

          <p><b>Description :</b> {{ rdv.note }}</p>
        </div>

        <app-button label="Supprimer" type="submit" variant="delete"
          (click)="onDeleteAppointment(rdv.appointmentId)"></app-button>

        <hr />

      </div> -->
      <app-alert *ngIf="deleteAppointmentAlert" [type]="deleteAppointmentAlert.type"
        [message]="deleteAppointmentAlert.message">
      </app-alert>

    </div>
  </cdk-accordion-item>



</cdk-accordion>