<div class="hairdresser_profil_page">
    <div class="hairdresser_profilPicture_infos">
        <div class="profil_picture"></div>
        <div class="hairdresser_infos">
            <div class="hairdresser_name">
                <p>Coiffeur : </p>
                <p>{{hairdresser.FirstName}}</p>
                <p>{{hairdresser.LastName}}</p>
            </div>
            <div class="hairdresser_contact">
                <p>Contactez le coiffeur : </p>
                <p>{{hairdresser.Email}}</p>
            </div>
        </div>  
    </div>
</div>